In [1]:
import pandas as pd

This dataset is used by `Dash_Interactive_Graphs/bar.py`

In [2]:
data_path = "./Dash_Interactive_Graphs/Urban_Park_Ranger_Animal_Condition_Response.csv.gz"
df = pd.read_csv(data_path, compression='gzip')

In [3]:
df.shape, df.columns

((982, 22),
 Index(['Date and Time of initial call', 'Date and time of Ranger response',
        'Borough', 'Property', 'Location', 'Species Description', 'Call Source',
        'Species Status', 'Animal Condition', 'Duration of Response', 'Age',
        'Animal Class', '311SR Number', 'Final Ranger Action', '# of Animals',
        'PEP Response', 'Animal Monitored', 'Rehabilitator',
        'Hours spent monitoring', 'Police Response', 'ESU Response',
        'ACC Intake Number'],
       dtype='object'))

In [4]:
df[:5]

,Date and Time of initial call,Date and time of Ranger response,Borough,Property,Location,Species Description,Call Source,Species Status,Animal Condition,Duration of Response,...,311SR Number,Final Ranger Action,# of Animals,PEP Response,Animal Monitored,Rehabilitator,Hours spent monitoring,Police Response,ESU Response,ACC Intake Number
0,11/9/2018 9:00,11/9/2018 10:15,Brooklyn,Bushwick Inlet,Bushwick Inlet Park,Chinese Silky Chicken,Employee,Exotic,Healthy,1.25,...,1-1-1642034010,Animal Care Center,1.0,False,False,NaN,NaN,False,False,46854
1,11/30/2018 11:00,11/30/2018 13:45,Manhattan,Inwood Hill Park,M & O HQ District 12,Chicken,Employee,Domestic,Healthy,1.00,...,1-1-1647471950,Animal Care Center,1.0,False,False,NaN,NaN,False,False,48438
2,11/10/2018 15:00,11/10/2018 15:10,Manhattan,Inwood Hill Park,Dykman Ball Fields,Chicken,Employee,Domestic,Healthy,1.50,...,1-1-1642034151,Animal Care Center,1.0,False,False,NaN,NaN,False,False,46961
3,9/4/2018 14:30,9/4/2018 15:50,Staten Island,Ocean Breeze Track & Field Athletic Complex,Father Capodanno and Seaview,Rock Dove,Employee,Native,Healthy,2.50,...,1-1-1613258011,Animal Care Center,1.0,True,False,NaN,NaN,False,False,40608
4,6/9/2019 9:30,6/9/2019 10:00,Brooklyn,Parade Ground,Prospect Park Parade Grounds near Tennis Center,Chicken,Central,Domestic,Healthy,3.00,...,1-1-1730643971,Animal Care Center,1.0,False,False,NaN,NaN,False,False,65352

In [5]:
df['# of Animals'].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: # of Animals, dtype: float64

In [6]:
df[df['# of Animals'] <= 0].head()

,Date and Time of initial call,Date and time of Ranger response,Borough,Property,Location,Species Description,Call Source,Species Status,Animal Condition,Duration of Response,...,311SR Number,Final Ranger Action,# of Animals,PEP Response,Animal Monitored,Rehabilitator,Hours spent monitoring,Police Response,ESU Response,ACC Intake Number
272,12/3/2018 9:00,12/3/2018 9:00,Manhattan,Jacob H. Schiff Playground,W 136 & Amsterdam,Raccoon,Employee,Native,No data,0.5,...,NaN,Advised/Educated others,0.0,False,False,NaN,NaN,False,False,NaN
427,8/22/2018 9:00,8/22/2018 10:00,Brooklyn,Cadman Plaza Park,War Memorial,Raccoon,Employee,Native,Healthy,0.5,...,NaN,Unfounded,0.0,False,False,NaN,NaN,False,False,NaN
429,10/1/2018 11:00,10/1/2018 11:10,Queens,Forest Park,Golf course,raccoon,Public,Native,Healthy,0.5,...,NaN,Unfounded,0.0,False,False,NaN,NaN,False,False,NaN
443,7/26/2018 12:30,7/26/2018 13:00,Manhattan,Central Park,Rumsey Playfield,Raccoon,Employee,Native,Injured,2.0,...,NaN,Unfounded,0.0,False,False,NaN,NaN,False,False,NaN
455,5/15/2019 11:30,5/16/2019 11:00,Manhattan,Fort Washington Park,"Lily Brown Playground, 915 Riverside Drive",No data,Central,Native,No data,1.0,...,1-1-1721158092,Unfounded,0.0,False,False,NaN,NaN,False,False,NaN

In [7]:
# Drop rows w/ no animals found or calls w/ varied age groups
df = df[(df['# of Animals']>0) & (df['Age']!='Multiple')]

# Extract month from time call made to Ranger
df['Month of Initial Call'] = pd.to_datetime(df['Date and Time of initial call'])
df['Month of Initial Call'] = df['Month of Initial Call'].dt.strftime('%m')

# Copy columns to new columns with clearer names
df['Amount of Animals'] = df['# of Animals']
df['Time Spent on Site (hours)'] = df['Duration of Response']